<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset='utf-8'>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Registro de una página web sobre reservas de eventos y de productos tecnológicos">
  <meta name="keywords" content="reservas, productos, tecnología, Huawei, Samsung, Iphone, LG, Google, intel, Apple, IOS">
  <meta name="author" content="Kathrina Arrocha Umpiérrez">
  <meta name="author" content="Iván Josué Borges González">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>




<p>
  ¡Bienvenido usuario!
</p>

<button routerLink="/actualizar/:id">Editar datos</button>&nbsp;



</html>
