<!DOCTYPE html>
<html>

<head>


  <meta charset='utf-8'>
  <meta name="description" content="Registro de una página web sobre reservas de eventos y de productos tecnológicos">
  <meta name="keywords" content="reservas, productos, tecnología, Huawei, Samsung, Iphone, LG, Google, intel, Apple, IOS">
  <meta name="author" content="Kathrina Arrocha Umpiérrez">
  <meta name="author" content="Iván Josué Borges González">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <title>Eventos</title>
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/tether/tether.min.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/theme/css/style.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/gallery/style.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/mobirise/css/mbr-additional.css?v=1GCEbt" type="text/css">

</head>

<body>
  <section class="mbr-gallery mbr-slider-carousel cid-rdsNtcdsSQ" id="gallery3-9">



    <div>
      <div>

        <!-- Filter -->
        <!-- Gallery -->
        <div class="mbr-gallery-row">
          <div class="mbr-gallery-layout-default">
            <div>
              <div>
                <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Increíble">
                  <div href="#lb-gallery3-9" data-slide-to="0" data-toggle="modal"><img src="https://r.mobirisesite.com/20278/assets/images/s10-2-1280x720-800x450.jpg?v=1GCEbt"
                      alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Samsung</span></div>
                </div>
                <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Increíble">
                  <div href="#lb-gallery3-9" data-slide-to="1" data-toggle="modal"><img src="https://r.mobirisesite.com/20278/assets/images/amd-ryzen-1280x720-800x450.jpg?v=1GCEbt"
                      alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">AMD
                      Ryzen</span></div>
                </div>
                <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Increíble">
                  <div href="#lb-gallery3-9" data-slide-to="2" data-toggle="modal"><img src="https://r.mobirisesite.com/20278/assets/images/awc-miami-1280x720-800x450.jpg?v=1GCEbt"
                      alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">AWC</span></div>
                </div>
                <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Increíble">
                  <div href="#lb-gallery3-9" data-slide-to="3" data-toggle="modal"><img src="https://r.mobirisesite.com/20278/assets/images/ces-2019-1280x720-800x450.jpg?v=1GCEbt"
                      alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">CES
                      2019</span></div>
                </div>
                <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Increíble">
                  <div href="#lb-gallery3-9" data-slide-to="4" data-toggle="modal"><img src="https://r.mobirisesite.com/20278/assets/images/intel-2019-1280x720-800x450.jpg?v=1GCEbt"
                      alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Intel</span></div>
                </div>
                <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Increíble">
                  <div href="#lb-gallery3-9" data-slide-to="5" data-toggle="modal"><img src="https://r.mobirisesite.com/20278/assets/images/mwc-angeles-1280x720-800x450.jpg?v=1GCEbt"
                      alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">MWC
                      Los Angeles</span></div>
                </div>
                <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Increíble">
                  <div href="#lb-gallery3-9" data-slide-to="6" data-toggle="modal"><img src="https://r.mobirisesite.com/20278/assets/images/mwc-barcelona-1280x720-800x450.jpg?v=1GCEbt"
                      alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">MWC
                      Barcelona<br></span></div>
                </div>
                <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Increíble">
                  <div href="#lb-gallery3-9" data-slide-to="7" data-toggle="modal"><img src="https://r.mobirisesite.com/20278/assets/images/nvidia-1280x720-800x450.jpg?v=1GCEbt"
                      alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Nvidia</span></div>
                </div>
                <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Increíble">
                  <div href="#lb-gallery3-9" data-slide-to="8" data-toggle="modal"><img src="https://r.mobirisesite.com/20278/assets/images/ice-gaming-1280x720-800x450.jpg?v=1GCEbt"
                      alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">ICE
                      Gaming</span></div>
                </div>
                <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Increíble">
                  <div href="#lb-gallery3-9" data-slide-to="9" data-toggle="modal"><img src="https://r.mobirisesite.com/20278/assets/images/wwc-madrid-3-1280x720-800x451.jpg?v=1GCEbt"
                      alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">WWC</span></div>
                </div>
                <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Increíble">
                  <div href="#lb-gallery3-9" data-slide-to="10" data-toggle="modal"><img src="https://r.mobirisesite.com/20278/assets/images/ces-vegas-5-1280x720-800x448.jpg?v=1GCEbt"
                      alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">CES
                      Las Vegas</span></div>
                </div>
                <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Increíble">
                  <div href="#lb-gallery3-9" data-slide-to="11" data-toggle="modal"><img src="https://r.mobirisesite.com/20278/assets/images/korea-12-1280x720-800x452.jpg?v=1GCEbt"
                      alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Semicon</span></div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>


        <!-- Lightbox -->
        <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard-="true"
          data-interval="false" id="lb-gallery3-9">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="carousel-inner">
                  <div class="carousel-item"><img src="https://r.mobirisesite.com/20278/assets/images/s10-2-1280x720.jpg?v=1GCEbt"
                      alt="" title=""></div>
                  <div class="carousel-item"><img src="https://r.mobirisesite.com/20278/assets/images/amd-ryzen-1280x720.jpg?v=1GCEbt"
                      alt="" title=""></div>
                  <div class="carousel-item"><img src="https://r.mobirisesite.com/20278/assets/images/awc-miami-1280x720.jpg?v=1GCEbt"
                      alt="" title=""></div>
                  <div class="carousel-item"><img src="https://r.mobirisesite.com/20278/assets/images/ces-2019-1280x720.jpg?v=1GCEbt"
                      alt="" title=""></div>
                  <div class="carousel-item"><img src="https://r.mobirisesite.com/20278/assets/images/intel-2019-1280x720.jpg?v=1GCEbt"
                      alt="" title=""></div>
                  <div class="carousel-item"><img src="https://r.mobirisesite.com/20278/assets/images/mwc-angeles-1280x720.jpg?v=1GCEbt"
                      alt="" title=""></div>
                  <div class="carousel-item"><img src="https://r.mobirisesite.com/20278/assets/images/mwc-barcelona-1280x720.jpg?v=1GCEbt"
                      alt="" title=""></div>
                  <div class="carousel-item"><img src="https://r.mobirisesite.com/20278/assets/images/nvidia-1280x720.jpg?v=1GCEbt"
                      alt="" title=""></div>
                  <div class="carousel-item"><img src="https://r.mobirisesite.com/20278/assets/images/ice-gaming-1280x720.jpg?v=1GCEbt"
                      alt="" title=""></div>
                  <div class="carousel-item"><img src="https://r.mobirisesite.com/20278/assets/images/wwc-madrid-3-1280x720.jpg?v=1GCEbt"
                      alt="" title=""></div>
                  <div class="carousel-item"><img src="https://r.mobirisesite.com/20278/assets/images/ces-vegas-5-1280x720.jpg?v=1GCEbt"
                      alt="" title=""></div>
                  <div class="carousel-item active"><img src="https://r.mobirisesite.com/20278/assets/images/korea-12-1280x720.jpg?v=1GCEbt"
                      alt="" title=""></div>
                </div>

                <a class="carousel-control-prev" href="#lb-gallery3-9" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>

                <a class="carousel-control-next" href="#lb-gallery3-9" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>

                <a class="close" href="#" role="button" data-dismiss="modal"><span class="sr-only">Close</span></a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <input name="animation" type="hidden">
</body>

</html>
