<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset='utf-8'>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Registro de una página web sobre reservas de eventos y de productos tecnológicos">
  <meta name="keywords" content="reservas, productos, tecnología, Huawei, Samsung, Iphone, LG, Google, intel, Apple, IOS">
  <meta name="author" content="Kathrina Arrocha Umpiérrez">
  <meta name="author" content="Iván Josué Borges González">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
  <div class="col-sm-12 sidenav4">
    <div class="somos">
      <article class="letra"> Instatech fue creado en Octubre de 2017 para que cualquiera de nosotros pudiera tener acceso a multitud de
        eventos relacionados con la tecnología.
        InstaTech es considerado el mejor lugar para realizar reservas para los eventos más importantes de la comunidad tecnológica.
        Además, ofrecemos la reserva y compra de cualquier producto presentado durante los eventos a través de nuestra página web y nuestra App.
        Te esperamos, no te quedes sin saber todo lo que está por venir. </article>
    </div>

  </div>

  <div class="nosotros">
    <br /><br /> <br /><br />
    <img src="./assets/img/nosotros-1.png" id= nosotros1 alt="nosotros1">
    <img src="./assets/img/nosotros-2.png" id = "nosotros2" alt="nosotros2" >

  </div>


</body>

</html>
