<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset='utf-8'>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Registro de una página web sobre reservas de eventos y de productos tecnológicos">
  <meta name="keywords" content="reservas, productos, tecnología, Huawei, Samsung, Iphone, LG, Google, intel, Apple, IOS">
  <meta name="author" content="Kathrina Arrocha Umpiérrez">
  <meta name="author" content="Iván Josué Borges González">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    </ol>

    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="/assets/img/Eventos/awc_miami.png" alt="Primer slide" style="width:100%;  height: 100%;">
      </div>

      <div class="carousel-item">
        <img src="/assets/img/Eventos/mwc_barcelona.png" alt="Segundo slide" style="width:100%;  height: 100%;">
      </div>

      <div class="carousel-item">
        <img src="/assets/img/Eventos/intel_2019.jpg" alt="Tercero slide" style="width:100%; height: 100%;">
      </div>

      <div class="carousel-item">
        <img src="/assets/img/Eventos/nvidia.png" alt="Cuarto slide" style="width:100%;  height: 100%;">
      </div>

      <div class="carousel-item">
        <img src="/assets/img/Eventos/ces_2019.jpg" alt="Quinto slide" style="width:100%;  height: 100%;">
      </div>

      <div class="carousel-item">
        <img src="/assets/img/Eventos/amd_ryzen.png" alt="Secto slide" style="width:100%;  height: 100%;">
      </div>

      <div class="carousel-item">
        <img src="/assets/img/Eventos/nvidia.jpg" alt="Septimo slide" style="width:100%;  height: 100%;">
      </div>

      <div class="carousel-item">
        <img src="/assets/img/Eventos/mwc_angeles.png" alt="Octavo slide" style="width:100%;  height: 100%;">
      </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>

</body>
</html>
