.create-form {
    min-width: 150px;
    width: 100%;
}

.field-full-width {
    width: 100%;
}


.main-center{
    margin-top: 40px;
    margin: 0 auto;
    max-width: 850px;
    padding: 10px 40px;
    background: rgb(22, 99, 167);
    color: #FFF;
    border-left:10px solid #3f3f3f;
    border-right:10px solid #3f3f3f;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
    border-radius:10px;

}  


#button {
    border: 1px solid rgb(84, 86, 93);
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px rgb(72, 71, 78);
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #666 inset, 0 1px #666;
    -webkit-box-shadow: 0 1px #666 inset, 0 1px #666;
    box-shadow: 0 1px #666 inset, 0 1px #666;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
} 



/* CSS CONTRASENA */

#mensaje {
    display: none;
	background: #e5e3e7 none repeat scroll 0 0;
	color: rgb(35, 39, 38);
	left: 73%;
	position: absolute;
	top: 46%;
}
#mensaje h4{
    background: #616163  repeat scroll 0 0;
    color:  rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    padding: 17px 0;
    text-align: center;
    text-transform: uppercase;
}

#mensaje ul {
    list-style: outside none none;
}
#mensaje ul li {
   padding: 10px 45px;
}


Partes que estan verificadas
.valid {
	background: rgba(0, 0, 0, 0) no-repeat scroll 2px 6px;
	color: green;
	line-height: 21px;
    padding-left: 22px;
    content: "✔";
}

.valid:before {
    position: relative;
    left: -15px;
    content: "✔";
}

/* Partes que estan mal */
.invalid {
	background: rgba(0, 0, 0, 0) no-repeat scroll 2px 6px;
	color: red;
	line-height: 21px;
    padding-left: 22px;
    content: "✖";
}

.invalid:before {
    position: relative;
    left: -15px;
    content: "✖";
}

