#s-4ef026f1-5cc6-4384-8a95-06b502a3dcac #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ef026f1-5cc6-4384-8a95-06b502a3dcac #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ef026f1-5cc6-4384-8a95-06b502a3dcac #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ef026f1-5cc6-4384-8a95-06b502a3dcac #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ef026f1-5cc6-4384-8a95-06b502a3dcac #s-Input_2 INPUT {
  font-family: Arial;
}
#s-4ef026f1-5cc6-4384-8a95-06b502a3dcac #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ef026f1-5cc6-4384-8a95-06b502a3dcac #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ef026f1-5cc6-4384-8a95-06b502a3dcac #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ef026f1-5cc6-4384-8a95-06b502a3dcac #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ef026f1-5cc6-4384-8a95-06b502a3dcac #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ef026f1-5cc6-4384-8a95-06b502a3dcac #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4ef026f1-5cc6-4384-8a95-06b502a3dcac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}