#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-base_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-menu_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Item-row_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Picture_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-date_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-star_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-star_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Item-row_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Picture_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-star_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-star_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-date_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Item-row_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-date_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-star_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-star_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Item-row_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Picture_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-star_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-star_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-date_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Item-row_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Picture_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-date_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-star_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-star_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Item-row_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Picture_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-date_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-star_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-star_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5864bb23-ba46-4761-8bf4-5c1babea1c8b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}