#s-5c91abfa-cfbf-4076-bbb8-b8104a7adbdb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c91abfa-cfbf-4076-bbb8-b8104a7adbdb #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c91abfa-cfbf-4076-bbb8-b8104a7adbdb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c91abfa-cfbf-4076-bbb8-b8104a7adbdb #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c91abfa-cfbf-4076-bbb8-b8104a7adbdb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c91abfa-cfbf-4076-bbb8-b8104a7adbdb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c91abfa-cfbf-4076-bbb8-b8104a7adbdb #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c91abfa-cfbf-4076-bbb8-b8104a7adbdb #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c91abfa-cfbf-4076-bbb8-b8104a7adbdb #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c91abfa-cfbf-4076-bbb8-b8104a7adbdb #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c91abfa-cfbf-4076-bbb8-b8104a7adbdb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5c91abfa-cfbf-4076-bbb8-b8104a7adbdb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}