#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Item-row_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Picture_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-star_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-star_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-date_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_158 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_159 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_163 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_160 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_30 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_161 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_31 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_32 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-base_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-menu_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8174a7f2-d1df-45fe-8dfc-6ccc17b6a14e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}