#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-base_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-menu_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Image_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Image_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dbfbca7b-9213-4110-b947-191cd004c8cb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}