<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset='utf-8'>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Registro de una página web sobre reservas de eventos y de productos tecnológicos">
  <meta name="keywords" content="reservas, productos, tecnología, Huawei, Samsung, Iphone, LG, Google, intel, Apple, IOS">
  <meta name="author" content="Kathrina Arrocha Umpiérrez">
  <meta name="author" content="Iván Josué Borges González">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>




      <h1>
        <a href="" class="typewrite" data-period="2000" data-type='[ "¡Bienvenid@!", "Aquí podrás probar nuestra app.", "Si te gusta, puedes conseguirla en Google Play y App store." ]'>
          <span class="wrap"></span>
        </a>
      </h1>


      <iframe name="app_integrated" width="100%" height="950" src="./assets/img/App_Version_Html/index.html"> </iframe>


</body>

</html>
