<!DOCTYPE html>
<html>

<head>


  <meta charset='utf-8'>
  <meta name="description" content="Registro de una página web sobre reservas de eventos y de productos tecnológicos">
  <meta name="keywords" content="reservas, productos, tecnología, Huawei, Samsung, Iphone, LG, Google, intel, Apple, IOS">
  <meta name="author" content="Kathrina Arrocha Umpiérrez">
  <meta name="author" content="Iván Josué Borges González">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <title>Eventos</title>
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/tether/tether.min.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/theme/css/style.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/gallery/style.css">
  <link rel="stylesheet" href="https://r.mobirisesite.com/20278/assets/mobirise/css/mbr-additional.css?v=1GCEbt" type="text/css">

</head>

<body>
  <div class="container-fluid">
    <div class="group group-three">
      <div class="group--container">
        <div class="group group-two">
          <div class="group--container">
            <div class="row">
              <div class="group--title">
                <h2>PC Sobremesa</h2>
                <div class="group--subtitle">
                  Potencia y rapidez
                </div>
              </div>
              <div class="card-deck">

                <div class="card card--one" data-aos="fade-right">
                  <div class="pc">
                    <img class="card-img-top" src="./assets/img/productos_pc/msi.jpg.png" alt="PC Sobremesa MSI">
                  </div>
                  <div class="card-block">
                    <div class="pc--info">
                      <span class="pc--name">MSI Aegis 3 8RC-014EU Intel Core i5-8400/8GB/2TB+128GB SSD/GTX1060</span>
                      <span class="pc--price"> 3150€ </span>
                      <br><br>
                      <button class="buy-btn">Añadir al carrito</button>

                    </div>
                  </div>
                </div>

                <div class="card card--two" data-aos="zoom-out">
                  <div class="pc">
                    <img class="card-img-top" src="/assets/img/productos_pc/acer_predator.jpg.png" alt="PC Sobremesa ACER">
                  </div>
                  <div class="card-block">
                    <div class="pc--info">
                      <span class="pc--name">Acer Predator G3-710 Intel Core i7-7700/32GB/1TB+256GB SSD/GTX 1050 Ti</span>
                      <span class="pc--price"> 1350€ </span>
                      <br><br>
                      <button class="buy-btn">Añadir al carrito</button>
                    </div>
                  </div>
                </div>

                <div class="card card--three" data-aos="fade-left">
                  <div class="pc">
                    <img class="card-img-top" src="/assets/img/productos_pc/hp.jpg.png" alt="PC Sobremesa ACER">
                  </div>
                  <div class="card-block">
                    <div class="pc--info">
                      <span class="pc--name">HP Pavilion Gaming Desktop 690-0015NS Intel Core i7-8700/8GB/1TB/GTX1050</span>
                      <span class="pc--price"> 705.57€ </span>                      

                      <br><br>
                      <button class="buy-btn">Añadir al carrito</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="group group-three">
      <div class="group--container">
        <div class="group group-two">
          <div class="group--container">
            <div class="row">
              <div class="group--title">
                <h2>Smartphone</h2>
                <div class="group--subtitle">
                  Inteligencia y rapidez
                </div>
              </div>
              <div class="card-deck">

                <div class="card card--one" data-aos="fade-right">
                  <div class="pc">
                    <img class="card-img-top" src="./assets/img/productos_movil/mate-20-pro.png" alt="PC Sobremesa MSI">
                  </div>
                  <div class="card-block">
                    <div class="pc--info">

                      <span class="pc--name">Huawei Mate 20 Pro Dual SIM 128GB Azul Libre</span>
                      <span class="pc--price"> 879€ </span>
                      <br><br>
                      <button class="buy-btn">Añadir al carrito</button>

                    </div>
                  </div>
                </div>

                <div class="card card--two" data-aos="zoom-out">
                  <div class="pc">
                    <img class="card-img-top" src="./assets/img/productos_movil/iphone-xr.png" alt="PC Sobremesa ACER">
                  </div>
                  <div class="card-block">
                    <div class="pc--info">
                      <span class="pc--name">Apple iPhone XR 64Gb Negro Libre</span>
                      <span class="pc--price"> 739€ </span>

                      <br><br>
                      <button class="buy-btn">Añadir al carrito</button>
                    </div>
                  </div>
                </div>
                <div class="card card--three" data-aos="fade-left">
                  <div class="pc">
                    <img class="card-img-top" src="./assets/img/productos_movil/note9.png" alt="PC Sobremesa ACER">
                  </div>
                  <div class="card-block">
                    <div class="pc--info">
                      <span class="pc--name">Samsung Galaxy Note 9 128GB Negro Libre</span>
                      <span class="pc--price"> 776.45€ </span>
                      <br><br>
                      <button class="buy-btn">Añadir al carrito</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>






</body>

</html>
